/* Body */
body {
    background: black;
    color:white;
    font-family: 'Lato', sans-serif;
}

/* Login page */
h1, h3, h5 {
    font-family: 'Courier Prime', monospace;
}

.login-container {
    display:flex;
    justify-content: center;
}

.login-btn {
    background-color: rgba(0, 0, 0, 0.972);
    border: 2px solid white;
    color:white;
}

.login-btn:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

/* Navbar */
@media (min-width:1000px) {
    .login-nav {
    position: absolute;
    right:5%;
    }
}

.logo {
    height:30px;
}