/* Body */
body {
    background: black;
    color:white;
    font-family: 'Lato', sans-serif;
}
h1, h3, h5 {
    font-family: 'Courier Prime', monospace;
}

.color-red {
    color: rgba(255, 0, 0, 0.495);
}

.bg-pink {
    background: pink;
    border-radius: 3px;
    font-weight: bold;
    padding: 5px;
}
/* Login page */

.login-container {
    display:flex;
    justify-content: center;
}

.login-btn {
    background-color: rgba(0, 0, 0, 0.972);
    border: 2px solid white;
    color:white;
}

.login-btn:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

/* Navbar */
@media (min-width:1000px) {
    .login-nav {
    position: absolute;
    right:5%;
    }
}
.nav-item {
    font-family: 'Courier Prime', monospace;
}

.logo {
    height:30px;
}

/* Filtre */
#myTable_filter input {
    margin: 10px;
}